<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> 🪩 VANISH NODE </title>
  <link rel="stylesheet" href="/static/chat_style.css">
</head>
<body>
  <div id ="container">

      <div id="header">
        <pre>░██    ░██    ░███    ░███    ░██ ░██████  ░██████   ░██     ░██          ░███    ░██   ░██████   ░███████   ░██████████ 
░██    ░██   ░██░██   ░████   ░██   ░██   ░██   ░██  ░██     ░██          ░████   ░██  ░██   ░██  ░██   ░██  ░██         
░██    ░██  ░██  ░██  ░██░██  ░██   ░██  ░██         ░██     ░██          ░██░██  ░██ ░██     ░██ ░██    ░██ ░██         
░██    ░██ ░█████████ ░██ ░██ ░██   ░██   ░████████  ░██████████          ░██ ░██ ░██ ░██     ░██ ░██    ░██ ░█████████  
 ░██  ░██  ░██    ░██ ░██  ░██░██   ░██          ░██ ░██     ░██          ░██  ░██░██ ░██     ░██ ░██    ░██ ░██         
  ░██░██   ░██    ░██ ░██   ░████   ░██   ░██   ░██  ░██     ░██          ░██   ░████  ░██   ░██  ░██   ░██  ░██         
   ░███    ░██    ░██ ░██    ░███ ░██████  ░██████   ░██     ░██          ░██    ░███   ░██████   ░███████   ░██████████ 
                                                                                                                                                                                                                                        
        </pre>
        <hr>  
      </div>
      
      <div id="chat-area">
        <!--chat area dude-->
      </div>

     <form id="input-form" autocomplete="off">
        <input id="message-input" type="text" placeholder="Enter your messege...." required>
        <button id="send-btn" type="submit">Send</button>
     </form>    
  </div>
</body>    