<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> VANISH NODE </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class = "name">
<pre  >░██    ░██    ░███    ░███    ░██ ░██████  ░██████   ░██     ░██          ░███    ░██   ░██████   ░███████   ░██████████ 
░██    ░██   ░██░██   ░████   ░██   ░██   ░██   ░██  ░██     ░██          ░████   ░██  ░██   ░██  ░██   ░██  ░██         
░██    ░██  ░██  ░██  ░██░██  ░██   ░██  ░██         ░██     ░██          ░██░██  ░██ ░██     ░██ ░██    ░██ ░██         
░██    ░██ ░█████████ ░██ ░██ ░██   ░██   ░████████  ░██████████          ░██ ░██ ░██ ░██     ░██ ░██    ░██ ░█████████  
 ░██  ░██  ░██    ░██ ░██  ░██░██   ░██          ░██ ░██     ░██          ░██  ░██░██ ░██     ░██ ░██    ░██ ░██         
  ░██░██   ░██    ░██ ░██   ░████   ░██   ░██   ░██  ░██     ░██          ░██   ░████  ░██   ░██  ░██   ░██  ░██         
   ░███    ░██    ░██ ░██    ░███ ░██████  ░██████   ░██     ░██          ░██    ░███   ░██████   ░███████   ░██████████ 
                                                                                                                         
                                                                                                                         
                                                                                                                         <sub>version 1.O</sub></pre> 
</div>
<br>
<div class="window">
    <div class="window-header">
      <span class="dot red"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
    </div>
    <div class="window-body">
<h1>Hello, friend!</h1>

<p>
Welcome to <strong>VANISH NODE</strong> a web app used for messaging.
Think of VANISH NODE like <em>Among Us</em>.
You enter a room code given by your friend to join a match.
Similarly, in VANISH NODE, you can either generate your own room code
or enter a code shared by your friend to join a specific room and start gossiping.
</p>

<hr>

<p>
Here comes the fun part: your message disappears after 45 seconds.
Think of it like Snapchat  |
What are you waiting for go join the room now....!
</p>
</div>
</div>


<form id="room_code_bar"><br><br><br>
  <label for="roomCode">Enter your Room Code:</label>
  <input type="text" id="roomCode" placeholder="room code" required>
  <button type="submit">JOIN ROOM</button><br><hr>
</form>

<form id="generate">
  Click here to create room → <button type="button" class="secondary-btn" onclick="createRoom()">GENERATE ROOM CODE</button>
</form>

  <script>
    function generateRoomCode(length = 6) {
        const charset = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789'; // no I/O/1/0 to avoid confusion
        let code = '';
        for (let i = 0; i < length; i++) {
        const randIndex = Math.floor(Math.random() * charset.length);
        code += charset[randIndex];
     }
     return code;
    }

async function createRoom() {
  const res = await fetch('/create-room');
  const data = await res.json();
  window.location.href = `/chat?room=${data.room}`;
}


    document.getElementById("room_code_bar").onsubmit = function(e) {
      e.preventDefault();
      const code = document.getElementById("roomCode").value.trim().toUpperCase();
      if (code) {
        window.location.href = `/chat?room=${code}`;
      }
    };
  </script>

</body>
</html>
